.imageElement {
  max-width: inherit;
}
.sliderLayoutContainer--carousel1 {
  margin: 0 0 50px 0;
}
.vtex-button__label {
  display: none !important;
}
.sliderLayoutContainer--carousel {
  background: #f1f1f1;
  padding-bottom: 30px;
}
/*.sliderLayoutContainer--Cmarca{
  margin: -135px 100px 40px 100px;
  background: white;
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
}*/
.sliderLayoutContainer--Cmarca {
  margin: -130px 0px 40px 0px;
  background: transparent;
  width: 100%;
  background: white;
  overflow: hidden;
}
.sliderTrackContainer--Cmarca {
  padding: 22px 104px 22px 0;
}

.slide--Cmarca--visible {
  transform: translateX(-79px);
  width: 3.56667% !important;
}
.sliderArrowsContainer--Cmarca {
  top: 120px;
  background-color: black;
}
.caretIcon--Cmarca {
  color: #1a0888;
  width: 60px;
  height: 60px;
}
.sliderLeftArrow--Cmarca {
  background-color: rgba(0, 0, 0, 0.5);
}
.slide--bannersecun {
  margin: 35px 0 20px 0;
}
.sliderLeftArrow--mediosP .caretIcon--mediosP {
  margin: 0 0 0 -12px;
  width: 15px;
}
.sliderRightArrow--mediosP .caretIcon--mediosP {
  margin: 0 -25px 0 0px;
  width: 15px;
}
.slide--mediosP {
  max-width: 500px;
}
.sliderRightArrow--Cmarca::before {
  content: '';
  opacity: 0.7;
  width: 146%;
  background: white;
  height: 321px;
  z-index: -99999999;
  background-size: 100%;
  position: absolute;
}
.sliderLeftArrow--Cmarca::before {
  content: '';
  opacity: 0.7;
  width: 146%;
  background: white;
  height: 321px;
  z-index: -99999999;
  background-size: 100%;
  position: absolute;
}
.sliderLeftArrow--Cmarca {
  z-index: 1;
}
.sliderRightArrow--Cmarca {
  z-index: 1;
}
.slide--hidden {
  background: black;
  z-index: 99999;
  opacity: 0.5;
}
.caretIcon--Cmarca::before {
  content: '';
  width: auto;
  height: 100%;
  position: absolute;
}
.sliderLayoutContainer--carouselMobile {
  display: none;
}
.sliderLayoutContainer--SecciEspecDescriG {
  padding: 0 100px;
}
.sliderArrows--carousel-agendamiento {
  visibility: hidden;
}

.sliderRightArrow--carousel-agendamiento::after {
  content: 'Siguiente';
  visibility: initial;
  background: #3f3f3f;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: -800%;
  z-index: 999;
  border-radius: 7px;
}
.sliderLeftArrow--carousel-agendamiento::after {
  content: 'Anterior';
  visibility: initial;
  background: #3f3f3f;
  color: white;
  padding: 10px;
  position: absolute;
  bottom: -800%;
  z-index: 999;
  border-radius: 7px;
}
.sliderLeftArrow--carousel-agendamiento {
  visibility: hidden;
}
.paginationDotsContainer--carouselBannerpri {
  top: 26%;
  left: 11%;
  right: unset;
}
.paginationDot--carouselBannerpri--isActive {
  background-color: #fbce2f;
  width: 60px !important;
  border-radius: 14px;
}
.sliderLayoutContainer--cate {
  padding: 70px 100px 10px;
  margin: 0 0 55px;
  background: white;
}
.paginationDot--cate--isActive {
  background: #000131;
}

@media (max-width: 600px) {
  .sliderLayoutContainer--carouselMobile {
    display: block !important;
  }
  .sliderLayoutContainer--carousel {
    display: none;
  }
  .sliderLayoutContainer--Cmarca {
    margin: -88px auto 40px auto;
    width: 91%;
    padding: 0 0px;
    border-radius: 5px;
  }
  .sliderTrackContainer--Cmarca {
    padding: 22px 0;
  }
  .slide--Cmarca--visible {
    transform: translateX(0px) !important;
    width: 3.1% !important;
  }
  .slide--Cmarca {
    opacity: 1;
    padding: 0px 10px;
    background-color: transparent;
  }
  .slideChildrenContainer--Cmarca {
    opacity: 0.9;
  }
  .sliderLayoutContainer--SecciEspecDescriG {
    padding: 0 10px !important;
  }
}

/* * New styles About us Page */
/* !Purpose slider */
.paginationDot--Purpose__slider--isActive {
  background-color: #252525;
}
.slide--Purpose__slider--hidden {
  background: transparent;
}
/* !News slider */
.slide--News__slider--hidden {
  background: transparent;
}
.slideChildrenContainer--News__slider {
  padding: 10px;
}
.slideChildrenContainer--Slider__images-container {
  margin: 40px 0;
}

/* !Slider bottom */
.slide--Slider__images-container--hidden {
  background: transparent;
}
/* !Tabs layout  */
.slideChildrenContainer--History__slider :global(.vtex-tab-layout-0-x-listItem) {
  margin: 0 !important;
  width: auto;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 20px;
}
.slideChildrenContainer--History__slider :global(.vtex-tab-layout-0-x-listItemActive) {
  margin: 0 !important;
  border-color: #ffc100;
}
.slideChildrenContainer--History__slider :global(.vtex-tab-layout-0-x-listItem) :global(.vtex-button__label) {
  padding: 9px;
  color: #000131 !important;
  font-weight: 600;
  font-family: 'Anybody';
  font-size: 15px !important;
}
.sliderLeftArrow--History__slider {
  left: -20px;
}
.sliderRightArrow--History__slider {
  right: -20px;
}
.slide--History__slider--hidden {
  background-color: transparent;
}

@media (min-width: 600px) {
  /* !New Section */
  .slideChildrenContainer--News__slider {
    padding: 10px 40px;
  }
  /* !Slider images sections */
  .sliderTrack--Slider__images-container {
    width: 700% !important;
  }
}

@media (min-width: 1030px) {
  /* !News Section */
  .slideChildrenContainer--News__slider {
    padding: 10px;
  }
  /* !Slider images sections */
  .sliderTrack--Slider__images-container {
    width: 300% !important;
  }
  .slideChildrenContainer--Slider__images-container {
    margin: 10px 5px;
  }
}

/* * //New styles About us Page */
